{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <div class="detail-file-wrapper">
        <h1>File "{{ file.file.name|slice:"10:-4" }}" detail page</h1>
        <form method="get">
            <label for="filter_column">Filter Column:</label>
            <select id="filter_column" name="filter_column">
                <option value="" hidden=""></option>
                {% for column in data.columns %}
                    <option value="{{ column }}" {% if column == filter_column %}selected{% endif %}>{{ column }}</option>
                {% endfor %}
            </select>

            <label for="filter_value">Filter Value:</label>
            <input type="text" id="filter_value" name="filter_value"
                   {% if filter_value %}value="{{ filter_value }}"
                   {% else %}value=""
                   {% endif %}>

            <table>
            {% for column in data.columns %}
                <tr>
                    <td>
                        {{ column }}
                    </td>
                    <td>
                        <label for="sort_order{{ forloop.counter }}">asc</label>
                        <input type="radio" name="sort_param{{ forloop.counter }}" id="sort_param{{ forloop.counter }}" value="{{ column }},1" {% if column in sort_orders_dict.keys and sort_orders_dict|dict_key:column != '' %}checked{% endif %}>
                        <label for="sort_order{{ forloop.counter }}">desc</label>
                        <input type="radio" name="sort_param{{ forloop.counter }}" id="sort_param{{ forloop.counter }}" value="{{ column }}," {% if column in sort_orders_dict.keys and sort_orders_dict|dict_key:column == '' %}checked{% endif %}>
                    </td>
                </tr>
            {% endfor %}
            </table>
            <button type="submit">Apply Filter</button>
            <a href="{% url 'file-detail' file_id %}">Reset</a>
        </form>
        <p>Current Filter:
            {% if filter_column and filter_value %}
                {{ filter_column }} = {{ filter_value }}
            {% else %}
            {% endif %}
        </p>
        <p>Current Sort:
            {% for param, value in sort_orders_dict.items %}
                {{ param }} -
                {% if value == '' %}descending{% else %}ascending{% endif %}
            {% if not forloop.last %},{% endif %}
            {% endfor %}
        </p>
        <table style="width: 100%">
            <thead>
                <tr>
                    {% for column in data.columns %}
                    <th>
                      {{ column }}
                                          </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for _, row in page_obj.object_list.iterrows %}
                <tr>
                    {% for value in row %}
                    <td style="text-align: center">{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1{{ sort_params }}">First</a>
                <a href="?page={{ page_obj.previous_page_number }}{{ sort_params }}">Previous</a>
            {% endif %}

            <span class="current-page">{{ page_obj.number }}</span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{{ sort_params }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{{ sort_params }}">Last</a>
            {% endif %}
        </div>
    </div>
{% endblock %}